
@{
    ViewBag.Title = "Index5";
}

<h2>Reports</h2>
<h4>Please click the report that you want to access.</h4>
<p><b>Number of students in each course:</b>
   <a class="btn btn-default" href="@Url.Action("Index2", "Reports")">To Reports &raquo;</a>
</p>
<p>
    <b>Number of students in each batch:</b>
    <a class="btn btn-default" href="@Url.Action("Index1", "Reports")">To Reports &raquo;</a>
</p>
<p>
    <b>Revenue from each course:</b>
    <a class="btn btn-default" href="@Url.Action("Index3", "Reports")">To Reports &raquo;</a>
</p>
<p>
    <b>Number of enrollments in each city:</b>
    <a class="btn btn-default" href="@Url.Action("Index4", "Reports")">To Reports &raquo;</a>
</p>